@import "tailwindcss";

@theme {
	--color-primary: #e8305e;
	--color-background-light: #fcf8f9;
	--color-background-dark: #211115;
	--color-soft-beige: #f9f5f2;

	--font-display: "Monrope", sans-serif;

	--radius-default: 0.5rem;
	--radius-lg: 1rem;
	--radius-xl: 1.5rem;
	--radius-full: 9999px;
}

:root {
	font-family: var(--font-display);
	background-color: var(--color-background-light);
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}